body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    
}


.main-div-css {
    width: 20;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 100vh;
    margin: 0;

}
#Title {
    font-size: 62px;
    color: cyan;
    text-align: center;
    margin-top: - 100px;
    margin-bottom: 50px;

}
#label-binary{font-size: 30px;
    margin-top: 30px;
    color: red;

}

#input-binary {font-size: 30px;
            margin-top: 30px;

}
#submit-button{
    font-size: 30px;
    margin-top: 30px;
    padding: 10px 20px;
    background-color: cyan;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.5s ease;
}
#submit-button:hover{
    background-color: darkcyan;
    color: white;


}
#result-output{
    font-size: 20px;
    margin-top: 30px;
    transition: 0.5 ease;
    

}
#result-output:hover{
    color: red;

}


