#input-field {
    height: 500px;
    width: 500px;

}
body {
    font-family: Arial, Helvetica, sans-serif;
    
}
#input-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.button{
    margin: 20px;
    padding: 10px;
    border-radius: 20px;

}
#output-box{
    height: 500px;
    width: 500px;
}