#box {
    width: 200px;
    height: 200px;
    border: 20px black;
    background-color: lightgreen;
    
    position: absolute;
    top: 400px;
    left: 400px;
    cursor: grab;

    
}

.resize-handle {
    width: 10px;
    height: 10px;
    background: black;
    position: absolute;
    border-radius: 20px;
    z-index: 10;
}

.top-left     { top: -5px; left: -5px; cursor: nwse-resize; }
.top-right    { top: -5px; right: -5px; cursor: nesw-resize; }
.bottom-left  { bottom: -5px; left: -5px; cursor: nesw-resize; }
.bottom-right { bottom: -5px; right: -5px; cursor: nwse-resize; }


.left   { top: 50%; left: -5px; transform: translateY(-50%); cursor: ew-resize; }
.right  { top: 50%; right: -5px; transform: translateY(-50%); cursor: ew-resize; }
.top    { left: 50%; top: -5px; transform: translateX(-50%); cursor: ns-resize; }
.bottom { left: 50%; bottom: -5px; transform: translateX(-50%); cursor: ns-resize; }